@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

body {
    background: #80d5cf;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    width: 20px;
    width: 100%;
}

#heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    text-decoration: underline solid #000000;
    font-size: 42px;
    color: black;
}

#calculator {
    background: #2f383c;
    border-radius: 10px;
    border: 4px solid black;
    box-shadow: inset 0px 3px 3px #212424, 0px 5px 0px 0px #3d4c52;
    padding: 15px;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
}

#screen-container {
   background: #576368;
   border: 1px solid black;
   border-radius: 10px;
   padding: 20px; 
}

#screen {
    background: #d8cf9cb5;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    box-shadow: inset 0px 1px 0px #212424, 0px 5px 0px 0px #3d4c52;
    font-weight: 600;
    height: 23px;
    overflow: hidden;
    padding: 12px 15px;
    width: 265px;
    z-index: 1;
}

#zero {
    width: 225px;
    top: 483px;
    position: absolute;
    right: 42%;
   
    
}

#clear {
    background-color: #ffb700;
    width: 147px;
    

}

#clear:active {
    background-color: rgb(207, 67, 67);
}

#equals {
    height: 125px;
}

#buttons-container {
    padding: 30px 0 0 15px;


}
/*
.l-row {
    position: absolute;
    top: 354px;
}
*/
.buttons {
    overflow: hidden;
}

.buttons span {
    background: #747e7e;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: inset 0px 1px 0px #212424, 0px 5px 0px 0px #3d4c52;
    cursor: pointer;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    width: 70px;
    height: 40px;
    margin: 0px 7px 11px 0;
    line-height: 40px;
    text-align: center;


}

.buttons span:active {
    background-color: rgb(207, 67, 67);
    top: 3px;
    box-shadow: inset 0px 1px 0px #212424, 0px 2px 0px 0px #3d4c52;
}

.operator {
    font-size: 22.4px;
}